<style>
    .center {
        text-align: center;
    }
</style>

<div style="width: 410px" class="center">
    <div ng-if="state === 'loading'"><i class="fa fa-spinner fa-pulse fa-3x" aria-hidden="true"></i></div>
    <div ng-if="state === 'failed'">Could not load any data</div>
    <div ng-if="state === 'success'">
        <div class="btn-group" role="group">
            <button ng-click="$ctrl.changeDisplay('cpu')" type="button" class="btn btn-default" translate>CPU</button>
            <button ng-click="$ctrl.changeDisplay('memory')" type="button" class="btn btn-default" translate>Memory</button>
            <button ng-click="$ctrl.changeDisplay('disk')" type="button" class="btn btn-default" translate>Disk</button>
        </div>
        <div ng-if="displayedGraph === 'cpu'" class="graph">
            <bitcraft-horizontal-pie-chart options="options[0]" data="data[0]"></bitcraft-horizontal-pie-chart>
        </div>
        <div ng-if="displayedGraph === 'memory'" class="graph">
            <bitcraft-horizontal-pie-chart options="options[1]" data="data[1]"></bitcraft-horizontal-pie-chart >
        </div>
        <div ng-if="displayedGraph === 'disk'" class="graph">
            <bitcraft-horizontal-pie-chart options="options[2]" data="data[2]"></bitcraft-horizontal-pie-chart >
        </div>
    </div>
</div>
